* {
    margin: 2px;
}

body {
    background: #f8f8f8;
}

.header {
    height: 170px;

}

.top {
    display: flex;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
    max-height: 100%;
    overflow: hidden;
    margin: 0 auto;
    background-color: rgb(236, 240, 245);
    position: relative;
}

.list-link {
    width: 85px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: rgb(31, 104, 214)
}


.list-link:hover {
    background-color: rgb(188, 194, 201);
    color: rgb(71, 4, 138)
}


h4 {
    color: #070607;
    font-size: 25px;
    font-weight: 1000;
    text-align: left;
    line-height: 10px;
}

.main-content {
    min-height: calc(100vh - 205px);
    color: #2273ee;
    font-size: 40px;
    font-family: Times;
    font-weight: 1000;
    text-align: left;
    border: 2px groove;
    vertical-align: middle;
    line-height: 50px;
    padding: 10px;
    max-width: 1920px;
    margin: 0 auto;
}

.album {
    min-height: calc(100vh - 235px);
    max-width: 1920px;
    margin: 0 auto;
}

h6:hover {
    background-color: rgb(188, 194, 201);
}

h1,
h2,
h3 {
    color: rgba(29, 6, 124, 0.747);
    font-size: 18px;
    font-weight: 400;
    font-family: fantasy;
    background: #eaeaea;
}

.text_1 {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.text_2 {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.list li {
    display: flex;
    align-items: center;
    color: rgb(39, 39, 38);
    font-family: cursive;
    font-size: 14px;
}

.list li::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: url(img/logo_list.png) center;
    background-size: cover;
}

.input {
    height: 20px;
    padding: 10px;
    line-height: 1;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px 2px rgb(87, 85, 85);
    font-size: 18px;
    color: darkblue;
    text-transform: capitalize;
    min-width: 300px;
}

.input[placeholder="email"]:focus {
    color: rgb(8, 8, 8);
    background-color: rgb(239, 203, 250);
}

.alb_ph {
    outline: 5px solid rgb(52, 63, 70);
    min-width: 200px;
}

.alb_ph:hover {
    outline: none;
}

.catalog-link {
    list-style: none;
    position: relative;

}

.catalog-link li a:hover {
    background-color: rgb(188, 194, 201);
    color: rgb(71, 4, 138)
}
.catalog-link li {
    width: 100px;
    display: inline;
}
.catalog-link a {
    width: 85px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: rgb(31, 104, 214);

}

.catalog-link li:nth-child(1) {
    margin-bottom: -20px;
}

#new_1 {
    display: inline-block;
    box-sizing: border-box;
    font-weight: 800;
    color: rgb(250, 7, 149);
    text-align: left;
    border: 1px dotted rgb(230, 5, 192);
    margin-right: -50px;
    width: 50px;
    position: relative;
    left: -85px;
    top: -50px;
    background: #fcf2f8;
    opacity: -1;
}

.catalog-link li:nth-child(1):hover #new_1 {
    display: inline-block;
    box-sizing: border-box;
    font-weight: 800;
    color: rgb(250, 7, 149);
    text-align: left;
    border: 1px dotted rgb(230, 5, 192);
    margin-right: -50px;
    width: 50px;
    position: relative;
    left: -85px;
    top: -50px;
    background: #fcf2f8;
    opacity: 0.5;
}

.nav {
    width: 20%;
    min-width: 150px;
    height: 50%;
}

.desk {
    width: 100%;
    height: 50%;
    color: #011636;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: center;

}

.logo img {
    width: 100%;
    outline-width: 0px;
}

.logo {
    width: 100%;
    max-width: 130px;
    text-align: right;
    margin-top: 15px;
    padding-right: 2px;
}

.menu {
    list-style: none;
    text-decoration: none;
    width: 100%;
}



p::first-letter {
    font-family: Times;
    color: rgb(60, 0, 68);
    font-size: 30px;
}

.table2 {
    border: 3px solid rgb(52, 63, 70);
    border-collapse: collapse;
    color: #1c1c1d;
    font-size: 14px;
    font-family: Times;
    font-weight: 100;
    text-align: left;
    vertical-align: middle;
    line-height: 15px;


}

.table2 td,
tr {
    border: 1px solid rgb(52, 63, 70);
    border-collapse: collapse;
    padding: 3px 5px 1px;

}

.table_top2 {
    height: 15px;
}

.footer {
    height: 50px;
    background-color: rgb(234, 239, 241);
    max-width: 1920px;
    margin: 0 auto;

}

.img_ind {
    border: 5px;
    border-radius: 5px;
    width: 100%;
    border-style: groove;
    box-sizing: border-box;
    max-height: 100%;
}

.top-centre a {
    text-decoration: none;
    color: rgb(95, 117, 241);
}

.top-centre {
    width: 200px;
    height: 60px;
    text-align: center;
    border: rgb(48, 86, 189) solid 2px;
    border-radius: 5px;
    color: rgb(95, 117, 241);
    background: #f7f8fc;
    font-size: 40px;
    font-family: Times;
    font-weight: 900;

}

.top-centre:hover {
    background-color: rgb(188, 194, 201);
    color: rgb(71, 4, 138);

}

.main {
    display: block;
}
.fieldset {

    min-width: 320px;
}
.button_buy {
    color: rgb(81, 19, 224);
    font-weight: 600;
    font-size: 15px;
    display: block;
    position: relative;
    bottom: 30px;


}
.button_buy:hover {
    color: rgb(190, 10, 136);
    font-weight: 800;
    font-size: 30px;
}
.button_buy:active {
    color: rgb(48, 86, 189);
    
}
.hd2 {
    clear: both;
}
@media screen and (max-width: 1920px) {
    .header {
        width: 100%;
    }

    .logo {
        min-height: 120px;
    }


}

@media screen and (max-width: 740px) {
    .top-centre {
        width: 120px;
        height: 30px;
        font-size: 18px;
        margin-left: 10px;
        border: rgb(48, 86, 189) solid 2px;
        border-radius: 5px;
        color: rgb(95, 117, 241);
        background: #f7f8fc;
        flex-wrap: wrap;
    }

    .logo {
        width: calc(100% - 500px);
        min-width: 80px;
    }

    .menu {
        padding-left: 0px;
    }
    .input, .map {
        width: 400px;
    }
}
.alb_ph {
    float: left;
    margin-right: 20px;
}
@media screen and (max-width: 420px) {
    .header {
        width: 100%;
    }

    .nav {
        min-width: 100px;
    }

    .logo {
        display: none;
    }
    .alb_ph {
        height: 200px;
        width: 200px;
    }

    .desk {
        min-width: 100px;
    }
    .fieldset {
        width: 320px;
    }
    .input, .map {
        width: 300px;
    }


/*
h1, h2 {
    text-align: center;
}
p:active {background: red;}
p:hover {background: green;}
.list {
    list-style-type: none
}
.menu {
    list-style-type: none;
}
.list > li {
    width: 100px;
    height: 40px;
    border: 2px solid #000;
}
img[alt="Photo album"] {
    border: 4px solid pink;
}
.text_1 {
    background: url(img/bgr_1.jpg) no-repeat;
    
}
.link {
    text-decoration: none;
    text-transform: lowercase;
}
*/